{% extends "base.html" %}
{% load static %}

{% block title %}
    MY BLOG
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}"/>
    <link rel="stylesheet" href="{% static "blog/index.css" %}"/>
{% endblock %}


{% block content %}

    <section id = "welcome">
        <header>
            <img src="{% static "blog/images/rishit.jpg" %}" alt="Rishit - The Author "/>
            <h2>Rishit's Blog </h2>
        </header>
        <p> Hi , I am Rishit and I love to Code ! </p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts </h2>

        <ul>
            {% for post in posts %}
                {% include "blog/includes/post.html" %} 
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>What I do</h2>
        <p>I love programming and helping others in it. </p>  
    </section>
{% endblock %}